<div class="space-y-3">
    <div>
        <p class="text-gray-500">Name</p>
        <p class="font-bold">{{ details.name }}</p>
    </div>
    <div>
        <p class="text-gray-500">Norad ID</p>
        <p class="font-bold">{{ details.noradId }}</p>
    </div>
    <div>
        <p class="text-gray-500">Type</p>
        <p class="font-bold">{{ details.type }}</p>
    </div>
    <div>
        <p class="text-gray-500">Period</p>
        <p class="font-bold">{{ details.telemetry?.period }}</p>
    </div>
    <div>
        <p class="text-gray-500">Eccentricity</p>
        <p class="font-bold">{{ details.telemetry?.eccentricity }}</p>
    </div>
    <div>
        <p class="text-gray-500">Inclination</p>
        <p class="font-bold">{{ details.telemetry?.inclination }}</p>
    </div>
</div>