<h2 class="text-xl font-semibold text-gray-700 mb-4">Selected objects</h2>
    <div class="grid-container grid grid-cols-2 gap-4 margin-bottom" *ngFor="let object of objectSelected; let i = index">
        <span class="grid-item col-span-1">{{ object.name }}</span>
        <span class="grid-item col-span-1"><button mat-raised-button color="warn" (click)="remove(i)">Remove</button></span>
    </div>
<div class="button-container">
    <button mat-raised-button color="primary" (click)="showInCesium()">Update view</button>
</div>
  