<div class="mt-4 bg-gray-100 rounded-lg p-4 flex justify-between">
    <div>
        <p class="font-bold text-gray-600">Ground point</p>
        <p class="text-gray-300">{{ infos.longitude }}</p>
        <p class="text-gray-300">{{ infos.latitude }}</p>
    </div>
    <div>
        <p class="font-bold text-gray-600">Orbital speed</p>
        <p class="text-gray-300">{{ infos.speed }}</p>
    </div>
    <div>
        <p class="font-bold text-gray-600">Altitude</p>
        <p class="text-gray-300">{{ infos.altitude }}</p>
    </div>    
</div>
